<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  class=" bg-[url('https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Monochrome-Type-Simple-Background-Image.jpg')] bg-no-repeat bg-cover flex items-center justify-center font-mono">
   
    <%- include('login') %>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../javascript/script.js"></script>
</body>
</html>